/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--button-hover);
}

.danger-btn {
  background-color: var(--danger-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.danger-btn:hover {
  background-color: darkred;
}
